.ui-text-muted {
  color: #767676;
}

.ui-text-small {
  font-size: 12px;
}

.ui-text-inline-info {
  font-size: 11px;
  color: #b5b5b5;
  font-weight: bold;
}

.ui-text-vertically-aligned {
  display: flex;
}

.ui-align-center {
  text-align: center;
}

.ui-align-right {
  text-align: right;
}

.ui-align-left {
  text-align: left;
}

.ui-text-large {
  font-size: 40px;
}

.ui-text-referral {
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  &.number-of-device {
    width: 155px;
  }

  &.number-payment {
    width: 230px;
  }
}

.ui-text-title-referral {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  @include desktop {
    margin-left: 30px;
  }
}

.ui-text-opaque {
  opacity: 0.7;
}

.ui-text-bold {
  font-weight: $ui-font-weight-bold;
}

.ui-text-theme-success {
  color: $ui-color-green;
}

.ui-text-theme-danger {
  color: $ui-color-red;
}

.ui-text-blue-light {
  color: $ui-color-blue-light;
  border-bottom: $ui-border-line solid $ui-color-blue-light;
}

.ui-text-green-light {
  color: $ui-color-green-light;
}

.ui-text-theme-danger-dark {
  color: $ui-color-red-dark;
}

.ui-text-link {
  color: $ui-color-blue;
}

.ui-text-grey-upper-fs11 {
  color: #b1b1b1;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
}

.ui-text-font-italic {
  font-style: italic;
}
