.ui-apps {
  .ui-app {
    height: 100%;
  }
}

.ui-app-icon {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.ui-app {
  display: flex;
  cursor: default !important;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(
    240deg,
    lighten($ui-table-header-background-color, 2%),
    darken($ui-table-header-background-color, 1%)
  );

  border: 1px solid $ui-table-border-color;
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.06);
  padding: 15px;
  transition: border-color 0.2s;

  .ui-app-meta {
    display: flex;
    justify-content: space-between;

    &.ui-app-meta-theme {
      height: 100%;
      -webkit-align-items: center;
      align-items: center;
    }

    .ui-app-meta-texts {
      padding-right: 20px;

      &.ui-app-meta-texts-margin {
        margin-left: 30px;
      }
      .ui-app-title {
        font-weight: $ui-font-weight-bold;
      }
      .ui-app-description {
        font-size: 13px;
        margin-top: 4px;
        color: #666;
      }
    }

    .ui-app-meta-icon {
      &.ui-app-meta-icon-flex {
        display: -webkit-flex;
        display: flex;
      }

      #svg-palette {
        border-radius: 5px;
        padding: 4px;
        background-color: #0085be;
      }
    }

    .ui-app-actions-margin {
      margin: auto;
      margin-right: 5%;
    }
  }

  .ui-app-footer {
    margin-top: 20px;

    .ui-app-actions {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .ui-app-info {
        display: flex;
        align-items: center;
        order: 1;

        .ui-app-active-indicator {
          order: 2;

          border: 1px solid $ui-color-green;
          border-radius: $ui-border-radius;
          padding: 3px 6px;
          font-size: 11px;
          text-transform: uppercase;
          font-weight: $ui-font-weight-bold;
          color: $ui-color-green;
          background: $ui-color-green;
          color: white;
        }

        .ui-app-price {
          order: 1;

          border: 1px solid $ui-color-blue;
          border-radius: $ui-border-radius;
          padding: 3px 6px;
          color: $ui-color-blue;
          font-size: 11px;
          text-transform: uppercase;
          font-weight: $ui-font-weight-bold;
          margin-right: 4px;
        }
      }
      .ui-app-buttons {
        order: 2;
      }
    }

    .ui-app-author {
      margin-top: 4px;

      .ui-app-developer {
        order: 1;

        font-size: 11px;
        text-transform: uppercase;
        font-weight: $ui-font-weight-bold;
        color: #999;
      }
    }
  }

  &:hover {
    border-color: darken($ui-table-border-color, 8%);
    cursor: pointer;
  }

  &.ui-app-with-background-image {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;

    .ui-app-footer {
      padding: 10px;
      background: rgba(255, 255, 255, 0.9);
      border-bottom-left-radius: $ui-border-radius;
      border-bottom-right-radius: $ui-border-radius;
    }
  }
}

.ui-display-flex {
  display: flex;
}

.ui-display-flex-small {
  display: flex;
  @include phone {
    display: block;
  }
}

.ui-invited {
  flex-shrink: 0;
  flex-basis: 100%;
}

.flex-basic-full {
  flex-basis: 100%;
}

.ui-display-flex-table {
  flex-basis: 70%;

  @include tablet {
    flex-basis: 100%;
  }

  @include desktop-1280 {
    flex-basis: 90%;
  }
}

.ui-display-flex-button {
  flex-basis: 80%;

  @include tablet {
    flex-basis: 100%;
  }

  @include desktop-1280 {
    flex-basis: 100%;
  }
}

.ui-flex-text {
  flex-basis: 86%;

  @include tablet {
    flex-basis: 85%;
  }

  @include desktop-1280 {
    flex-basis: 82%;
  }
}

.ui-display {
  @include desktop {
    display: flex;
  }

  @include tablet {
    display: flex;
  }
}
