.ui-badge {
  @include display(flex);
  @include align-items(center);

  color: white;
  padding: 3px 6px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;

  .ui-badge-label {
    margin-right: 6px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: $ui-font-weight-bold;
  }

  &.ui-badge-size-default {
    font-size: 13px;
    font-weight: $ui-font-weight-bold;
  }

  &.ui-badge-size-small {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: $ui-font-weight-bold;
  }

  &.ui-badge-theme-success {
    background: $ui-button-success-background-color;
  }

  &.ui-badge-theme-danger {
    background: $ui-color-red;
  }

  &.ui-badge-theme-info {
    background: $ui-color-blue;
  }

  &.ui-badge-theme-default {
    color: #676767;
    font-weight: $ui-font-weight-default;
    background: $ui-color-grey-light;

    .ui-badge-label {

    }
  }

  &.ui-badge-theme-light {
    border: 2px solid #f1f1f1;
    color: #5f676d;

    .ui-badge-label {
      color: #b9b9b9;
    }
  }

  .ui-icon {
    margin-right: 3px;
  }
}

.ui-badge-group {
  @include display(flex);
  @include flex-wrap(wrap);

  > * {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 3px;

    &:last-child {
      margin-right: 0;
    }
  }
}
