.custom-modal-currency {
  text-align: center;
  .ui-modal-footer{
    @include linear-gradient(240deg,
      lighten($ui-table-header-background-color, 2%),
      darken($ui-table-header-background-color, 1%)
    );
    .close-modal-change-currency {
      max-width: 100px;
      margin: 0 auto;
    }
  } 
}
.footer-layer {
  position: fixed;
  bottom: 0;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  background: $ui-color-blue;
  .footer-text{
    margin-right: 20px;
    color: white;
  }
}

.ui-tax-item {
  position: relative;
  padding-top: 6px;
  padding-right: 12px;
  .ui-tax-pdf-icon {
    vertical-align: text-bottom;
  }
  .ui-tax-item-icon-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 13px;
    cursor: pointer;
  }
}

.ui-table-customer {
  .ui-table-wrapper {
    .ui-table {
      .ui-table-row-wrapper {
        .ui-table-row {
          @include flex-wrap(wrap);
        }
      }
    }
  }
}

.ui-filter-customer-wrapper {
  .ui-flexgrid-items {
    .ui-flexgrid-item {
      &.no-position {
        position: initial;
      }
    }
  }
}

.ui-invoice-note-customer {
  .ui-invoice-note-label {
    font-weight: 700;
  }
  .ui-note-invoice-input {
    width: 100%;
  }
}

.ui-b2b-settings {
  .ui-discount-settings {
    .ui-list {
      box-shadow: inherit;
      .ui-list-item {
        border-bottom: 0;
      }
    }
  }
}

.payment-methods-table {
  .ui-table-wrapper .ui-table .ui-table-cell {
    align-items: center;
  }
}
.kpi-store-home {
  .ui-kpi-primary {
    .ui-kpi-value{
      height: auto;
      .revenue-today-in-home {
        font-size: 16px;
        line-height: normal;
        padding: 10px 0;
      }
    }
  }
}

.review-permissions {
  .ui-app-name {
    font-size: 14px;
    background: #f5f5f5;
    padding: 8px;
    text-align: center;
  }
  .list-scoped {
    background: #f5f5f5;
    padding: 10px;
    .short-reviews {
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;
    }
    .list-scoped-item {
      border-bottom: 1px solid #ddd;
      padding: 10px 0;
      &:last-child {
        border-bottom: 0;
      }
      label {
        font-weight: bold;
      }
    }
  }
  .button-groups-install-app {
    margin-top: 20px;
  }
}

.group-option-discount {
  box-shadow: initial;
  .ui-list-item {
    border-bottom: 0;
    &.ui-list-item-with-onclick:hover {
      background: transparent;
    }
  }
}
.search-results {
  max-height: 235px;
  overflow-y: auto;
  margin-bottom: 20px;
}
.actions-app {
  position: absolute;
  top: 20px;
  right: 10px;
  .button-app-dropdown {
    border: 0;
    background: transparent;
    &:hover {
      background: transparent;
    }
    .ui-button-content {
      font-size: 20px;
      color: #767676;
    }
    .ui-button-append {
      display: none;
    }
  }
}
