.ui-dashboard {
  padding: $ui-spacing-double;

  .ui-dashboard-actions {
    margin-bottom: $ui-spacing-double;
  }

  .ui-dashboard-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .ui-dashboard-item {
      margin-right: $spacing-double;

      display: flex;

      .ui-box {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
      }

      &.ui-dashboard-item-size-default {
        flex-basis: 20%;
      }

      &.ui-dashboard-item-size-wide {
        flex-basis: 40%;
      }

      &.ui-dashboard-item-size-full {
        flex-basis: 100%;
      }

      .ui-list {
        max-height: 150px;
        overflow: scroll;
      }
    }
  }
}
