.ui-dashboard {
	padding: $ui-spacing-double;

	.ui-dashboard-actions {
		margin-bottom: $ui-spacing-double;
	}

	.ui-dashboard-items {
		@include display(flex);
		@include flex-wrap(wrap);
		@include justify-content(space-between);

		.ui-dashboard-item {
			margin-right: $spacing-double;

			@include display(flex);

			.ui-box {
				@include flex-basis(100%);
				@include display(flex);
				@include flex-direction(column);
			}

			&.ui-dashboard-item-size-default {
				@include flex-basis(25% - $spacing-double);
			}

			&.ui-dashboard-item-size-wide {
				@include flex-basis(50% - $spacing-double);
			}

			&.ui-dashboard-item-size-full {
				@include flex-basis(100%);
        margin: 0;
			}

			.ui-list {
				max-height: 150px;
				overflow: scroll;
			}
		}
	}
}
