.ui-details {
	.ui-details-item {
		@include display(flex);
		margin-bottom: $ui-spacing-default;

		&:last-child {
			margin-bottom: 0px;
		}

		.ui-details-item-label {
			@include flex-grow(0);
			@include flex-shrink(0);
			@include flex-basis(170px);

      text-align: right;
			color: #b1b1b1;
			padding-right: $spacing-double;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: $ui-font-weight-bold;
		}

		.ui-details-item-value {
			@include flex-grow(1);
      font-size: 14px;
		}
	}

  &.ui-details-compact {
    .ui-details-item {
      display: block;

      .ui-details-item-label, .ui-details-item-value {
      }

      .ui-details-item-label {
        text-align: left;
      }

      .ui-details-item-value {
        margin-top: $ui-spacing-half;
      }
    }
  }

  &.ui-details-horizontal {
    @include display(flex);
    @include flex-wrap(wrap);

    .ui-details-item {
      margin-right: $ui-spacing-double * 2;
      max-width: 250px;

      .ui-details-item-label {
        padding-bottom: 4px;
        border-bottom: 1px solid rgba(223, 229, 232, 0.57);
      }

      &.ui-details-item-grow {
        max-width: none;
      }
    }
  }
}
