.ui-icon {

  &.ui-icon-state-success {
    color: green;
  }

  // Sizes

  &.ui-icon-size-large {
    font-size: 40px;
  }

  &.ui-icon-size-small {
    font-size: 9px;
  }

  &.ui-icon-size-larger {
    font-size: 16px;
  }

  &.ui-icon-theme-store {
    font-size: 31px;
    color: white;
    padding: 5px 0px;
    background-color: #0085be;
    border-radius: 5px;
  }

  // Colors

  &.ui-icon-color-light {
    color: white;
    opacity: 0.7;
  }

  // Themes

  &.ui-icon-theme-success {
    color: $ui-color-green;
  }

  // Customizing

  &.ui-icon-nomargin {
    margin-right: 0 !important;
  }
}
