.ui-margin-top {
	margin-top: $spacing-default;
}

.ui-margin-left {
  margin-left: $spacing-default;
}

.ui-margin-left-medium {
  margin-left: $spacing-default / 2;
}

@media (max-width: 414px) {
  .ui-margin-top-larger {
    margin-top: $spacing-default * 5 + 2;
  }
}
