.ui-media {
  display: flex;
  flex-wrap: no-wrap;

  @include phone {
    display: block;
  }

  .ui-media-icon {
    flex-shrink: 0;

    max-width: 200px;

    img {
      max-width: 100%;
    }
  }

  .ui-media-content {
    overflow-x: hidden;
  }

  > div:first-child {
    padding-right: $ui-spacing-double;
  }

  &.ui-media-compact {
    > div:first-child {
      padding-right: 6px;
    }
  }
}
