.ui-media {
  @include display(flex);
  @include flex-wrap(no-wrap);
  // @include justify-content(space-between);

  .ui-media-icon {
    @include flex-shrink(0);

    max-width: 200px;

    img {
      max-width: 100%;
    }
  }

  .ui-media-content {
    overflow-x: hidden;
  }

  > div:first-child {
    padding-right: $ui-spacing-double;
  }
}
