.ui-nav {
  background-color: white;

  .ui-nav-prefix {
    background: #003858;
    padding: 4px 8px;
    font-size: 11px;
    text-transform: uppercase;
    color: white;
    font-weight: $ui-font-weight-bold;
  }

  .ui-nav-navitems {
    display: flex;
    align-items: center;

    @include phone {
      display: block;
    }

    padding: 16px;

    .ui-nav-navitem {
      margin-right: $spacing-default + 10px;

      @include phone {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &.ui-nav-navitem-brand {
        display: flex;
        align-items: center;

        img {
          opacity: 1;
        }
      }

      &.ui-nav-navitem-right {
        margin-left: auto;
        margin-right: 0px;
      }

      &:last-child {
        margin-right: 0;
      }

      > .ui-button,
      > .ui-dropdown-wrapper > .ui-button {
        background: #004a73;
        color: white;
        border: 0;
        box-shadow: none;

        &:hover {
          background: #004a73;
        }
      }
    }
  }

  &.ui-nav-inverse {
    background: $ui-nav-inverse-background;
  }

  &.ui-nav-fixed {
  }
}
