.ui-resource-list {
  .ui-resource-list-items {
    .ui-resource-link {
      display: block;
      margin-bottom: 6px;
      white-space: nowrap;
      overflow-x: hidden;
    }
  }
}

.ui-resource-link {
  .ui-icon {
    margin-right: 4px;
  }
}
