.ui-rte {
  border-radius: $ui-border-radius;
  border: 1px solid #ddd;

  .ui-rte-toolbar {
    padding: 4px;
    border-bottom: 1px solid #ddd;
    background: #f5f5f5;
  }

  // This class should wrap the RTE editor input area, e.g. quill,
  // Squire or whatever
  .ui-rte-editor {

    // Squire
    > div.ui-rte-squire {
      outline: none;
      min-height: 400px;
      padding: 10px;

      img {
        max-width: 100%;
      }

      h1, h2 {
        margin-top: 0;
        margin-bottom: 10px;
      }
    }
  }
}
