@-webkit-keyframes highlight-animation {
  from {
    background: #fffbe4;
  }
  to {
    background: transparent;
  }
}

@mixin responsive-table {
  @media (min-width: 421px) and (max-width: 1440px) {
    @content;
  }
}

.ui-table-wrapper {
  border: 1px solid $ui-table-border-color;
  border-radius: 3px;
  background-color: $ui-table-background-color;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.06);
  position: relative;

  .ui-table-overlay {
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.05);
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: none;
  }

  .ui-table {
    table-layout: fixed;
    border-collapse: collapse;

    .ui-table-prefix {
      padding: 10px;
      background: #f9f9f9;
      border-bottom: 1px solid #dfe5e8;
    }

    .ui-table-title {
      padding: 10px;
      background: #f9f9f9;
      border-bottom: 1px solid #dfe5e8;
      font-weight: $ui-font-weight-bold;
      color: darken($ui-table-header-font-color, 10%);
      font-size: 15px;
    }

    .ui-table-cell {
      outline: none;
      &.ui-table-cell-product-title {
        @include responsive-table {
          flex: 0 0 200px;
        }
      }
    }

    .ui-table-header {
      background: $ui-table-header-background;

      @include phone {
        display: none;
      }

      .ui-table-row {
        border-bottom: 1px solid $ui-table-inner-border-color;

        .ui-table-cell {
          color: $ui-table-header-font-color;
          font-weight: $ui-table-header-font-weight;
          text-transform: $ui-table-header-text-transform;
          font-size: $ui-table-header-font-size !important;
          padding: 10px 14px;

          &.ui-table-cell-align-right {
            .ui-table-cell-content {
              justify-content: flex-end;
            }
          }

          &.ui-table-cell-align-left {
            .ui-table-cell-content {
              justify-content: flex-start;
            }
          }

          .ui-table-cell-content {
            display: flex;
            flex-wrap: no-wrap;
            justify-content: flex-start;

            .ui-table-cell-suffix {
              &.ui-table-sort {
                display: flex;
                flex-wrap: no-wrap;
                .ui-icon {
                  width: 16px;
                  height: 16px;
                  line-height: 16px;
                  cursor: pointer;
                  border: $ui-table-headers-sort-icon-border;
                  background: $ui-table-headers-sort-icon-background;
                  border-radius: 2px;
                  color: $ui-table-headers-sort-icon-color;
                  &:first-child {
                    margin-right: 4px;
                  }
                }

                .ui-icon:hover,
                &.ui-table-sort-asc > :first-child,
                &.ui-table-sort-desc > :last-child {
                  color: $ui-table-headers-sort-icon-hover-color;
                  border: $ui-table-headers-sort-icon-hover-border;
                }

                &.ui-table-sort-disabled {
                  .ui-icon,
                  .ui-icon:hover {
                    border: $ui-table-headers-sort-icon-border;
                    color: $ui-table-headers-sort-icon-color;
                    cursor: initial;
                  }
                }
              }
            }
          }

          &.ui-table-cell-sortable {
            &:hover {
              cursor: pointer;
              background: $ui-table-header-cell-hover-background;
            }
          }
          &.ui-table-no-padding {
            padding: 0;
          }
        }
      }
    }

    .ui-table-row-wrapper {
      .ui-table-row {
        display: flex;

        border-bottom: 1px solid $ui-table-inner-border-color;

        .ui-table-cell {
          display: flex;
          justify-content: center;
          flex-grow: 1;

          text-align: left;
          border: 1px solid $ui-table-inner-border-color;
          border-left: none;
          border-top: none;
          border-bottom: none;

          .ui-table-row-expand-trigger {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;

            color: #717f88;
            outline: none;

            &:hover {
              background: #f9f9f9;
              cursor: pointer;
              color: darken(#717f88, 10%);
            }
          }

          .ui-buttongroup {
            .ui-button {
              margin-bottom: 0;
            }
          }

          .ui-table-cell-title {
            display: none;
            color: #b1b1b1;
            padding-right: $spacing-double;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: $ui-font-weight-bold;
            margin-bottom: 4px;

            @include phone {
              display: block;
            }
          }

          .ui-table-cell-content {
            display: flex;

            word-break: break-word;
            width: 100%;
          }

          .ui-table-cell-suffix {
            display: inline-block;
            margin-left: 10px;
          }

          .ui-table-drag-handle {
            cursor: pointer;
            color: lighten($ui-table-header-font-color, 40%);
          }

          @include phone {
            display: block;
            padding-bottom: 0;
            border: none;

            &:last-child {
              padding-bottom: 10px;
            }
          }

          &.ui-table-cell-bold {
            font-weight: bold;
          }

          &.ui-table-cell-right {
            text-align: right;

            @include phone {
              text-align: left;
            }

            .ui-table-cell-content {
              justify-content: flex-end;

              .ui-buttongroup {
                justify-content: flex-end;
              }
            }
          }

          &.ui-table-cell-center {
            text-align: center;

            @include phone {
              text-align: left;
            }

            .ui-table-cell-content {
              justify-content: center;
            }
          }

          &:last-child {
            border-right: none;
          }

          &.ui-table-cell-align-center {
            text-align: center;
            .ui-table-cell-content {
              justify-content: space-around;
            }
          }

          &.ui-table-cell-align-right {
            text-align: right;
          }

          &.ui-table-cell-align-left {
            text-align: left;
          }

          &.ui-table-cell-order-handle {
            color: $ui-link-color;
            cursor: pointer;
          }
        }

        .ui-table-cell-break {
          flex-basis: 100%;
          height: 0;
        }

        @include phone {
          display: block;
        }
      }

      .ui-table-row-expansion {
        border-bottom: 1px solid $ui-table-inner-border-color;
        background: $ui-table-inner-border-color;
        padding: 4px;

        @include phone {
          display: none;
        }
      }

      .ui-table-row-addon {
        // border-bottom: 1px solid $ui-table-inner-border-color;

        > .ui-table-wrapper {
          box-shadow: none;
        }
      }
    }

    .ui-table-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;

      background: $ui-table-header-background;
      border-bottom: 1px solid $ui-table-inner-border-color;
      text-align: right;
      padding: $spacing-default;

      .ui-table-actions-info {
        color: lighten($ui-table-header-font-color, 10%);
        margin-left: $spacing-default;
      }

      .ui-table-actions-trigger {
        display: flex;

        .ui-table-actions-progress {
          display: flex;
          align-items: center;
          margin-right: 20px;

          .ui-table-actions-progress-title {
            text-align: left;
            color: lighten($ui-table-header-font-color, 30%);
            font-size: 11px;
            margin-right: $spacing-default;
          }

          .ui-progress {
            width: 200px;
          }
        }
      }
    }

    .ui-table-errors {
      padding: $spacing-default;
    }

    .ui-table-empty {
      padding: $spacing-default;
    }

    .ui-table-body {
      position: relative;

      .ui-table-row-wrapper {
        .ui-table-row {
          .ui-table-cell {
            font-size: $ui-table-body-font-size;
            padding: 10px 14px;

            .ui-table-cell-text {
              width: 100%;
            }

            &.ui-table-cell-editable {
              &:hover {
                user-select: none;

                background: #fffceb;
                cursor: pointer;
              }
            }

            &.ui-table-cell-expander {
              padding: 0;

              @include phone {
                display: none;
              }

              .ui-table-cell-text {
                display: flex;
                justify-content: center;
              }
            }
          }
        }
      }

      .ui-table-empty {
        color: #999;
        height: 40px;
        padding: $spacing-default;
      }

      .ui-table-spinner-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.8);
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
      }

      .ui-table-row-wrapper {
        &:last-child {
          > .ui-table-row {
            // border-bottom: none;
          }
        }

        .ui-table-row {
          border-top: none;

          &:hover {
          }

          &.ui-table-row-clickable {
            cursor: pointer;
            &:hover {
              background: #f5f5f5;
            }
          }

          &.ui-table-row-highlighted {
            animation: highlight-animation 10s;
          }

          &:last-child {
            // .ui-table-cell {
            //  border-bottom: none;
            // }
          }
        }
      }
    }

    .ui-table-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $ui-table-header-background;

      .ui-table-footer-pagination {
        flex-basis: 90%;

        .ui-pagination {
          border-width: 0;

          .ui-pagination-pages {
            flex-wrap: wrap;
          }
        }
      }

      .ui-table-footer-page-sizes {
        display: flex;

        margin-right: $spacing-default;

        .ui-table-footer-page-size {
          cursor: pointer;
          background: $ui-table-page-size-background-color;
          font-weight: $ui-font-weight-bold;
          border-radius: 2px;
          color: $ui-table-page-size-color;
          margin-left: 4px;
          padding: 2px 4px;
          font-size: 11px;
          display: inline-block;
          outline: none;

          &.ui-table-footer-page-size-active {
          }

          &:hover,
          &.ui-table-footer-page-size-active {
            background: darken($ui-table-page-size-background-color, 10%);
          }
        }
      }
      @include phone {
        overflow-x: auto;
      }
    }
  }

  .ui-table-footer {
    border-top: 1px solid $ui-table-inner-border-color;
  }

  &.ui-table-embedded {
    border: 0;
    border-radius: 0;
  }

  &.ui-table-loading {
    > .ui-table-overlay {
      display: flex;
    }
  }

  &.ui-table-loading {
    .ui-table-error {
      display: none;
    }
    .ui-table-body {
      min-height: 40px;
    }
  }
}

.ui-table-responsive {
  .ui-table {
    @include responsive-table {
      width: 1000px;
    }
  }
  @include responsive-table {
    overflow-x: auto;
    .ui-table-header,
    .ui-table-body {
      width: 100%;
    }
  }
}
