.ui-tabs {
  > .ui-tabs-headers {
    display: flex;

    border-top: 1px solid #ddd;

    @include phone {
      display: block;
    }

    > .ui-tab-header {
      user-select: none;
      display: flex;
      align-items: center;

      outline: none;
      padding: 6px 10px;
      border: 1px solid #ddd;
      border-top: 0;
      border-right-width: 0px;
      border-bottom-width: 0px;
      font-weight: $ui-font-weight-bold;
      color: $ui-link-color;
      cursor: pointer;
      border-top: 3px solid transparent;

      @include phone {
        border-left-width: 0;
      }

      .ui-icon {
        margin-right: 5px;
      }

      &:first-child {
        border-top-left-radius: $ui-border-radius;
      }

      &:last-child {
        border-top-right-radius: $ui-border-radius;
        border-right-width: 1px;

        @include phone {
          border-right-width: 0;
        }
      }

      &.ui-tab-header-active,
      &:hover {
        background: #ecf8ff;
      }

      &.ui-tab-header-active {
        border-top: 3px solid $ui-link-color;
      }

      &.ui-tab-header-disabled {
        cursor: initial;
        color: #999;
        &:hover {
          background: transparent;
        }
      }

      img {
        max-height: 18px;
        margin-left: 10px;
      }
    }
  }

  > .ui-tabs-contents {
    border: 1px solid #ddd;
    background: white;

    > .ui-tab {
      > .ui-tab-content {
        // display: none;
      }

      &.ui-tab-active {
        > .ui-tab-content {
          // display: block;
        }
      }

      &.ui-tab-padding {
        > .ui-tab-content {
          padding: 20px;
        }
      }
    }
  }

  &.ui-tabs-embedded {
    .ui-tabs-contents {
      border-width: 1px 0 0 0;
    }

    .ui-tabs-headers {
      .ui-tab-header {
        border-radius: 0;

        &:first-child {
          border-left: 0;
        }
      }
    }
  }
}
