.ui-tooltip {
  position: relative;

  .ui-tooltip-content {
    display: none;
    position: absolute;
    bottom: 110%;
    background: #2f2f2f;
    border-radius: 3px;
    color: white;
    padding: 6px 9px;
    font-size: 12px;
    line-height: 1;
    margin: 0px auto;
    left: 0;
    word-break: normal;
  }

  &:hover {
    .ui-tooltip-content {
      display: block;
    }
  }
}
