.ui-transfer {
  .ui-transfer-icon {
    font-size: 60px;
    color: #d3d3d3;
  }

  .ui-flexgrid {
    .ui-flexgrid-item {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
