.ui-tree {
  padding: 8px;

  .ui-tree-item {
    margin-top: 8px;

    .ui-tree-item-details {
      border: 1px solid $ui-table-border-color;
      border-radius: 3px;
      background-color: $ui-table-background-color;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.06);

      .ui-tree-item-details-inner {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;

        .ui-tree-item-prefix {
          display: block;
          outline: none;
          padding: 6px;

          border-right: 1px solid $ui-table-border-color;

          .ui-icon {
            color: $ui-color-blue;
          }
        }

        .ui-tree-item-box {
          flex-grow: 1;
          display: flex;
          justify-content: space-between;

          color: $ui-font-default-color;
          outline: none;
          padding: 6px 10px;
          font-size: 13px;
          user-select: none;

          &.ui-tree-item-box-clickable {
            &:hover {
              background-color: darken($ui-table-background-color, 4%);
            }
          }
        }
      }

      .ui-tree-item-details-addon {
        padding: 4px;
        border-top: 1px solid lighten($ui-table-border-color, 3%);
      }
    }

    .ui-tree-item-childs {
      margin-top: 8px;
    }

    .ui-tree-item-indent {
      margin-left: 20px;
    }

    &.ui-tree-item-highlighted {
      > .ui-tree-item-details > .ui-tree-item-details-inner {
        font-weight: $ui-font-weight-bold;
      }
    }

    &.ui-tree-item-expandable {
      > .ui-tree-item-details > .ui-tree-item-details-inner > .ui-tree-item-prefix {
        cursor: pointer;
        background-color: darken($ui-table-background-color, 2%);

        &:hover {
          background-color: darken($ui-table-background-color, 5%);
        }
      }
    }
  }
}
