.ui-wrapper {
  &.ui-wrapper-accent {
    background-color: $ui-wrapper-background-color-accent;
  }

  &.ui-wrapper-highlight {
    background: linear-gradient(
      $ui-wrapper-background-color-highlight,
      darken($ui-wrapper-background-color-highlight, 10%)
    );
  }

  // Sizes

  &.ui-wrapper-fullheight {
  }
}

body > div > .ui-wrapper,
body > .ui-wrapper {
  padding-bottom: 60px;
  min-height: 100%;
}
