.ui-wundery-logo {
  @include wundery-logo;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 141px;
  height: 34px;

  // Sizes

  &.ui-wundery-ui-logo-size-small {
    width: 100px;
    height: 25px;
  }

  &.ui-wundery-ui-logo-size-tiny {
    width: 80px;
    height: 18px;
  }
}

.ui-wundery-wtf {
  background-image: url('https://media2.giphy.com/media/l0O9zBvk5nZ71Molq/200.gif');
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
